/*
Outubro de 2020
Catarina Teixeira, up201805042
Cheila Alves, up201805089 
*/

body {
    background-image: url("giphy.gif");/* vai por o gif de fundo*/
}

/* AREA DE AUTENTICAÇAO */
/* vai ser o nosso espaço todo */
.base {
    
    width:100%;
    height: 100%;
    margin: auto;
    position: relative;
    display: block;
    
}

/* trata da formatação do nosso formulário */
.base .form {
    margin: auto;
    margin-top: 30px;
    box-sizing: border-box;
    width: 600px;
    padding: 70px 55px;
    border: 20px solid #000000;
    background: #DC143C;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgb(0,0,0,.7); /* sombra por baixo da box do formulário */
}

/* formata o texto "AUTENTICAÇÃO" */
.base .form h1 {
    text-align: center;
    margin-bottom: 24px;
    color: #FFF5EE;
    font-family: 'Staatliches', cursive;
}

/* caixa de comentários */
.base .form .form-control {
    width: 95%;
    height: 40px;
    background: white;
    border-radius: 4px;
    border: 1px solid black;
    margin: 10px 0 18px 0;
}

/* botao login */
.base .form .btn {
    margin-left: 50%;
    margin-top: 20px;
    transform: translateX(-50%); /* vai-se mover mais para a esquerda */
    width: 220px;
    height: 50px;
    outline: none; /* tira-lhe o outline padrão */
    background-color: #6495ED;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    color: #FFF5EE;
    border-radius: 4px;
    border: 2px solid #FFF5EE;
    cursor: pointer;
}

.base .form .jogIA {
    
    margin-left: 50%;
    transform: translateX(-50%); /* se mover mais para a esquerda */
    width: 250px;
    height: 84px;
    margin-bottom:10px;
    outline: none; /* tira-lhe o outline padrão */
    background-image: linear-gradient(#00CED1,#DC143C,#00CED1);
    font-family: 'Staatliches', cursive;
    font-size: 29px;
    color: #FFF5EE;
    border-radius: 20px;
    border: 2px solid #FFF5EE;
    cursor: pointer;
    
}


/* logotipo que estará no formulário de autenticação */
.logotipo-form {
    text-align: center;
    display: block;
    width: 100%;
    padding-bottom: 11%;
}

/* parte do formulário onde formata o "identificador" e "password" */
.dados_autenticacao {
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
    font-family: 'Staatliches', cursive;
    color: #FFF5EE;
}

#msgPassIncorreta {

    display: none;
    font-family:'Staatliches',cursive;
    font-weight: bold;
    text-align: center;
    background-color: #000000;
    font-size: 20px;
    width: 95%;
    height: 25px;
    border-radius: 4px;
    border: 1px solid black;
    margin: 2px 0 2px 0;
    bottom: -10px;
    color: #7FFF00;
    
}

/*-----------------------------------------*/

/* AREA DE JOGO */
/* logótipo que vai estar na area de jogo */
#area-logotipo {

    padding-bottom: 20px;
    width: 400px;
    height: 130px;
    top: 15px;
    left: 35px;
    display: none;
    position: fixed;
    
}

#logotipo {
    
    width: 400px;
    height: 120px;
    background-image: url("othellolog.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    
}

/* disposição do tabuleiro */
#area-de-jogo {
    margin-top:150px;
    position: relative;
    display: none;
}

/* border personalizada do tabuleiro */
.molduraTabuleiro {
    
    width: 570px;
    height: 562px;
    margin: auto;
    position: relative;
    background-image: url('download.jpeg');
    border-radius: 5px;
    box-shadow: 0 0 20px 10px rgb(255,245,238,.1); /* sombra branca do tabuleiro*/
}

/* configuração do tabuleiro */
.tabuleiro {
    
    top: 18px;
    width: 536px;
    height: 528px;
    margin: auto;
    background-image: url('board.jpg');
    position: relative;
}

/* carateristicas para cada quadrado do tabuleiro */
#casa0_0, #casa0_1, #casa0_2, #casa0_3, #casa0_4, #casa0_5, #casa0_6, #casa0_7, #casa1_0, #casa1_1, #casa1_2, #casa1_3, #casa1_4,
#casa1_5, #casa1_6, #casa1_7, #casa2_0, #casa2_1, #casa2_2, #casa2_3, #casa2_4, #casa2_5, #casa2_6, #casa2_7, #casa3_0, #casa3_1,
#casa3_2, #casa3_3, #casa3_4, #casa3_5, #casa3_6, #casa3_7, #casa4_0, #casa4_1, #casa4_2, #casa4_3, #casa4_4, #casa4_5, #casa4_6,
#casa4_7, #casa5_0, #casa5_1, #casa5_2, #casa5_3, #casa5_4, #casa5_5, #casa5_6, #casa5_7, #casa6_0, #casa6_1, #casa6_2, #casa6_3,
#casa6_4, #casa6_5, #casa6_6, #casa6_7, #casa7_0, #casa7_1, #casa7_2, #casa7_3, #casa7_4, #casa7_5, #casa7_6, #casa7_7 {
    
    width: 62px;
    height: 62px;
    float: left;
    margin-top: 7px;
    margin-left: 9.5px;
    position: absolute; /* garantimos que as casas estão posicionadas relativamente ao tabuleiro */
    cursor: pointer;
    
}

/* carateristica das peças que vao ser colocadas no tabuleiro*/
.peca {
    width: 56px;
    height: 56px;
    position: absolute; /* garantimos que a peças são posicionadas relativamente à casa */
    background: url('Tokens.png');
}

/* peça branca */
.pecaBRANCA { 
    top: 2px;
    left: 4.5px;
    background-position: 0px 0px; /* recorte da imagem de modo a ser apenas visualizada a peça branca */
}

/* peça preta */
.pecaPRETA { 
    top: 2px;
    left: 4.5px;
    background-position: -56px 0px; /* recorte da imagem de modo a ser apenas visualizada a peça preta */
}

/*---------------------------------------_*/

/* PONTUAÇAO */
/* carateristicas relativamente ao tipo da letra, moldura, tamanhos, cores, etc... */
.pontuacao{
    
    font-family:'Staatliches',cursive;
    width:300px;
    height:190px;
    color:#FFF5EE;
    background-color: #DC143C;
    display:none;
    position:fixed;
    top:470px;
    right:125px;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    border: 15px solid transparent; /* cria uma border transparente */
    border-image: url(download.jpeg) 50 round; /* e preenche com a imagem da madeira */
    box-shadow: 0 0 20px 10px rgb(255,245,238,.1); /* sombra por baixo da caixa */
}

/* carateristicas de espaçamento e margens relativamente ao texto da contagem de casas LIVRES */
#clivre {
    letter-spacing: 3px;
    margin:0;
    color:rgb(2,48,2);
}

/* carateristicas de espaçamento e margens relativamente ao texto da contagem de peças PRETAS */
#ppreto {
    
    letter-spacing: 3px;
    margin-top:10px;
    margin-bottom:20px;
    color: #000000;
    
}

/* carateristicas de espaçamento e margens relativamente ao texto da contagem de peças BRANCAS */
#pbranco {
    letter-spacing: 3px;
    margin:0;
    margin-bottom: 20px;
}

/*-------------------------------*/

/* PASSAR JOGADA */
/* tem as carateristica de tamanho, cor, tipo de letra, posicionamento e animação de troca de cores */
#passar {
    
    letter-spacing: 2px;
    width: 175px;
    font-family:'Staatliches',cursive;
    color:#FFF5EE;
    background-color: #DC143C;
    padding:10px 15px;
    font-size: 24px;
    display: none;
    border:1px solid #FFF5EE;
    outline:none;
    cursor: pointer;
    border-radius: 7px;
    position: fixed;
    top:388px;
    right:323px;
    transition: 0.2s ease-in-out;
}

/*-----------------------*/

/* BOTÃO DE DESISTIR */
/* tem as carateristica de tamanho, cor, tipo de letra, posicionamento e animaçao de troca de cores */
#desistir {
    
    letter-spacing: 2px;
    width: 175px;
    color:#FFF5EE;
    font-family:'Staatliches',cursive;
    background-color: #DC143C;
    padding:10px 15px;
    font-size: 24px;
    display: none;
    border:1px solid #FFF5EE;
    outline:none;
    cursor: pointer;
    border-radius: 7px;
    position: fixed;
    top: 388px;
    right: 123px;
    transition: 0.2s ease-in-out;

}

/*----------------------*/

/* BOTÃO NOVO JOGO */
#novoJogo {
    
    letter-spacing: 2px;
    width: 175px;
    color:#FFF5EE;
    font-family:'Staatliches',cursive;
    background-color: #6495ED;
    font-size: 24px;
    border:1px solid #FFF5EE;
    outline:none;
    cursor: pointer;
    border-radius: 7px;
    margin: auto;
    transition: 0.2s ease-in-out;
    
}

/*----------------------*/

/*LOGOUT*/
/* tem as carateristica de tamanho, cor, tipo de letra, posicionamento e animação de troca de cores */
.logout {
    
    color:#FFF5EE;
    cursor:pointer;
    font-weight: bold;
    font-size: 100%;
    position: fixed;
    display: none;
    border:1px solid #FFF5EE;
    outline:none;
    text-decoration: underline;
    background-color: #DC143C;
    padding:10px 15px;
    top:10px;
    right:10px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}
/* a cor muda quando o cursor está por cima do botão */
.logout:hover{
    background-color: #B01030;
}

/*--------------------------------------*/

/* MENSAGEM DE FIM DE JOGO */
#msgFimJogo {
    
    display: none; /* inicialmente escondido porque só irá aparecer quando o jogo acabar */
    letter-spacing:3px;
    background-color: #DC143C;
    border:1px solid #FFF5EE;
    color: #FFF5EE;
    font-family:'Staatliches',cursive;
    font-size: 42px;
    font-weight: bold;
    position: fixed;
    top:342px;
    left: 590px;
    padding:50px 15px;
    width: 650px;
    text-align: center;
    border-radius:5px;
  
}

/* VEZ DE JOGADA */
#vezJogada {
    
    display: none;
    background-color: #DC143C;
    color: #FFF5EE;
    border: 1px solid #FFF5EE;
    font-family: 'Staatliches',cursive;
    font-size: 24px;
    width: 333px;
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
    letter-spacing:3px;
    position: fixed;
    top: 295px;
    right: 126px;
}

/* notificação de jogada impossível */
#impossivel {
    
    display: none;
    background-color: #DC143C;
    color:#FFF5EE;
    border:1px solid #FFF5EE;
    font-family:'Staatliches',cursive;
    font-size: 24px;
    width:333px;
    padding:10px 15px;
    text-align: center;
    border-radius:5px;
    letter-spacing:3px;
    position:fixed;
    top:215px;
    right:126px;
    
}
#ranking {
    
    top:350px;
    left:50px;
    display:none;
    position:fixed;
    width:385px;
    height:370px;
    background-color: #800000;
    padding:10px;
    border: 20px solid #DC143C;
    vertical-align: center;

}

#header {

    font-family:'Staatliches',cursive;
    letter-spacing: 2px;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    color:#FFF5EE;
    padding-left: 30px;
    colspan: 3;
    
}

.content {

    font-family:'Staatliches',cursive;
    letter-spacing: 2px;
    font-size: 17px;
    text-align: center;
    margin-top: 5px;
    color:#FFF5EE;
    
}

/* ate ao 1680px do ecra */ 
@media (min-width: 1131px) and (max-width: 1680px){
    .base .form {
    width: 540px;
    height: 652px;
        margin-left: 28%;
        margin-top: 7px;
    }
    #area-de-jogo{
        margin-top:90px;
        margin-left:30%;
    }
    .pontuacao{
        top:415px;
        left:70px;
    }
    #passar {
        top:355px;
        left:70px;
    }
    #desistir {
        top: 355px;
        left:254px;
    }
    #vezJogada {
        width: 327px;
        top: 300px;
        left: 70px;
    }

    #impossivel {
        width: 327px;
        top: 300px;
        left:70px;
    }

    #msgFimJogo {
        top:340px;
        left: 528px;  
        width: 50%;
    }
}

/*ate ao 1130px do ecra*/
@media (min-width: 954px) and (max-width: 1130px){
    .base .form {
        margin-left:26%;
        margin-top: 50px
    }
    
    #area-logotipo {
        width: 250px;
        top: 15px;
        left: 35px;
        z-index: 10;
    }
    #area-de-jogo{
        margin-top:160px;
        margin-left:20%;
    }
    .pontuacao{
        width:158px;
        height:170px;
        top:400px;
        left:50px;
        font-size: 26px;
    }
    #passar {
        font-size: 26px;
        width: 210px;
        top:220px;
        left:50px;
    }
    #desistir {
        font-size: 26px;
        width: 210px;
        top: 310px;
        left:50px;
    }
    #vezJogada {
        top: 750px;
        left: 43%;
    }
    #impossivel {
        top:750px;
        left:43%;
    }
    #msgFimJogo {
        top:340px;
        left:300px;
        width:60%;
    }
}

@media (min-width: 769px) and (max-width: 953px){
    .base .form {
        margin-left:17%;
        margin-top: 70px
    }
    
    .base {
        height:100vh;
    }   
    #area-logotipo {
        width: 180px;
        top: 15px;
        left: 35px;
        z-index: 10;
    }
    #area-de-jogo{
        margin-top:290px;
        margin-left:6%;
    }
    .pontuacao{
        margin-top: 20px;
        position: sticky;
        width:158px;
        height:170px;
        top:600px;
        left:33%;
        font-size: 26px;
    }
    #passar {
        font-size: 20px;
        width: 160px;
        top:158px;
        left:59.3%;
    }
    #desistir {
        font-size: 20px;
        width: 160px;
        top:158px;
        left:23%;
    }
    #vezJogada {
        width: 57%;
        top: 220px;
        left: 23%;
    }
    #impossivel {
        width: 57%;
        top: 220px;
        left: 23%;
    }
    #msgFimJogo {
        top:440px;
        left:90px;
        width:80%;
        
    }
}

@media (max-width: 768px){
    .base .form {
        margin-left:14%;
        margin-top: 70px
    }
    .base {
        height:100vh;
    }   
    #area-logotipo {
        width: 180px;
        top: 15px;
        left: 35px;
        z-index: 10;
    }
    #area-de-jogo{
        margin-top:290px;
        margin-left:6%;
    }
    .pontuacao{
        margin-top: 20px;
        position: sticky;
        width:158px;
        height:170px;
        top:600px;
        left:33%;
        font-size: 26px;
    }
    #passar {
        font-size: 20px;
        width: 160px;
        top:158px;
        left:59.3%;
    }
    #desistir {
        font-size: 20px;
        width: 160px;
        top:158px;
        left:23%;
    }
    #vezJogada {
        width: 57%;
        top: 220px;
        left: 23%;
    }
    #impossivel {
        width: 57%;
        top: 220px;
        left: 23%;
    }
    #msgFimJogo {
        top:440px;
        left:67px;
        width:82%;
        
    }
}
